@import './utils/breacpoints';
@import './utils/variables';
 
body{
  color: #212121;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
 }

 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,    
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px){
    width: 480px ;
  }
  @media screen and (min-width: 768px){
    width: 768px ;
  }
  @media screen and (min-width: 1200px){
    width: 1200px ;
  }
}

.section{
  padding: 60px 0;

  @media screen and (min-width: 1200px){
    padding: 94px 0;
  }
}

.section.wrap{
 @media screen and (min-width: 1200px){
    padding-top: 0;
  }
}

                                  // Header

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  display: inline-block;
  padding: 16px 0px;
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  &__text {
    color: #000000;
  }
  
  &__text--inverse {
    color: #FFFFFF;
  }

  @media screen and (min-width: 480px){
    padding: 16px 0px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;

  }
}

                                    // Hero



                                  // One Section

.visually-hidden {
  transform: scale(0);
}

.post {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
    
      @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
      }
  &__list{
    @media screen and (min-width: 768px) {
      width: calc(50% - 30px / 2); 
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% - 90px / 4);
    }
  }

  &__list:nth-child(odd){
    @media screen and (min-width: 768px){
      margin-right: 30px;
    }
  }

  &__list:not(:last-child){
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
      }
  }

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

  &__text {
    margin-bottom: 30px;
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

                                              // Two Section

.wrap{
  @media screen and (max-width: 1199px){
    display: none;
    
  }
}

.label {
  display: flex;

  &__list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
  }

  &__list {
    margin-right: 30px;
    width: calc(100% - 60px / 3);
    position: relative;
  }

  &__image {
    display: block;
  }

  &__text {
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    bottom: 27px;
    right: 107px;
    color: $nav-color;
  }
}

                                               // Three Section

.title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}            

.team {
    background-color: $fsection-color;
}

.command {
  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  
  @media screen and (min-width: 1200px) {
       display: flex;
       flex-wrap: nowrap;
    }

  &__items {
    margin-bottom: 30px;
    background-color: $nav-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: calc(50% - 30px / 2); 
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% - 90px / 4);
    }
}

  &__items:nth-child(odd) {
    @media screen and (min-width: 768px){
      margin-right: 30px;
    }
  }
  &__items:not(:last-child){
    @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
 }

  &__img {
  margin-bottom: 30px;
}

  &__title {
  margin-bottom: 10px;

  color: $main-font-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

  &__txt {
  margin-bottom: 16px;
    
  color: $second-font-color;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}


}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  &__item {
  margin-bottom: 30px;
}

  &__link:hover,
  &__link:focus {
        background-color: $logo-color;
    }

  &__svg {
      fill: $icons-color;
  }

  &__link:hover &__svg,
  &__link:focus &__svg {
        fill: $nav-color;
    }
}

                                          // Four section

.clients{
  display: flex;
  flex-wrap: wrap;
 @media screen and (min-width: 1200px){
  display: flex;
  flex-wrap: nowrap;
 }

  &__list {
     width: calc(50% - 30px / 2);
    
    @media screen and (min-width: 768px){
      width: calc(33.33% - 60px / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% - 150px / 6);
      
        }
}

  &__link {
      display: flex;
      
      height: 92px;
      justify-content: center;
      align-items: center;
      border: 1px solid $icons-color;
      border-radius: 4px;
  
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

    &__link:hover &__logo,
    &__link:focus &__logo {
        fill: $logo-color;
    }

    &__link:hover,
    &__link:focus {
        border-color: $logo-color;
    }

    &__logo {
        display: block;
        fill: $icons-color;

        transition-duration: 250ms;
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }  
}

.clients__list{
  &:nth-child(odd){
    margin-right: 30px;

    
  }
  &:nth-child(-n+4){
      margin-bottom: 30px;
    }

  &:nth-child(1){
    @media screen and (min-width: 768px){
  margin-right: 30px;
    }
    @media screen and (min-width: 1200px){
  margin-bottom: 0;
    }
  }
  &:nth-child(2) {
    @media screen and (min-width: 768px) {
  margin-right: 30px;
    }
   @media screen and (min-width: 1200px){
  margin-bottom: 0;
    }  
     }
    &:nth-child(3) {
      @media screen and (min-width: 768px) {
  margin-right: 0;
      }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
     }
  &:nth-child(4) {
    @media screen and (min-width: 768px) {
  margin-right: 30px;
  margin-bottom: 0;
    }
        }
  &:nth-child(5) {
    @media screen and (min-width: 768px) {
    margin-right: 30px;
      }
    }
  
}